/**
 * Author: Brandon Quach
 * CS101 Spring 2021
 * CSS for the stock charter using Alphavantage API
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');

body, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  text-align: center;
  background-color: #b8cfc9; /* Light Gray */
}

body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#response, #rsi-response {
  border: 2px solid black;
  border-radius: 5px;
  min-height: 200px;
  padding: 10px;
}

img {
  max-width: 400px;
}

.plot-container {
  display:flex;
}

.plot-container, .svg-container, .main-svg {
  width: 100%;
}

main > div, #chart-btn {
  background-color: white;
}

.good {
  color: green;
}

.bad {
  color: red;
}